
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_PublicLayout";
}

<div class="row mb-5 mt-5">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header text-bg-primary">
                <h3 class="text-center">Verify OTP</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-action="OTP">
                    <label>OTP[Send on Email]</label>
                    <input type="text" name="otp" class="form-control rounded-5" placeholder="Enter Your OTP" /><br />
                    <button class="btn btn-primary float-end rounded-5">Submit</button>
                    <p class="text-danger">@TempData["msg"]</p>
                </form>
            </div>
        </div>
    </div>
</div>